<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CAS Bundle for Symfony{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CAS Bundle demo application">

    <title>CAS Bundle for Symfony</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div id="welcome">
        <h1><i class="fab fa-symfony"></i> CAS Bundle for Symfony</h1>
    </div>

    <nav class="nav">
        <a class="nav-link" href="{{ path('homepage') }}"><i class="fas fa-home"></i> Home</a>
        <a class="nav-link" href="{{ path('page_simple') }}"><i class="far fa-file-code"></i> Simple</a>
        <a class="nav-link" href="{{ path('page_restricted') }}"><i class="far fa-file-code"></i> Restricted</a>
        <a class="nav-link" href="{{ path('page_denied') }}"><i class="far fa-file-code"></i> Denied</a>
        <a class="nav-link" href="{{ path('page_pgtrequest') }}"><i class="fas fa-arrows-alt"></i> Proxy</a>
        <a class="nav-link" href="{{ path('page_gateway') }}"><i class="fas fa-exchange-alt"></i> Gateway</a>
        <a class="nav-link" href="{{ path('page_forcelogin') }}"><i class="fas fa-retweet"></i> Renew login</a>
        {% if user %}
            <a class="nav-link" href="{{ path('cas_bundle_logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a class="nav-link" href="{{ path('cas_bundle_login') }}?service={{ app.request.uri }}">Login <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </nav>

    <div class="jumbotron">
        {% if (user) %}
            {% if (user.getAttribute('firstName')) %}
                <h1 class="display-4">Welcome back <em>{{ user.getAttribute('firstName')|capitalize }} {{ user.getAttribute('lastName')|capitalize }}</em>!</h1>
            {% else %}
                <h1 class="display-4">Welcome back <em>{{ user.getUser() }}</em>!</h1>
            {% endif %}
        {% else %}
            <h1 class="display-4">Welcome <em>guest</em>!</h1>
        {% endif %}
        <p class="lead"><b>CAS bundle</b> integration in <b>Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</b> application.</p>
        <hr class="my-4">
        <p class="lead">
            {% if user %}
                <a href="{{ path('cas_bundle_logout') }}" class="btn btn-danger btn-lg btn-block">Logout <i class="fas fa-sign-out-alt"></i></a>
                <a href="{{ path('cas_bundle_login') }}" class="btn btn-info btn-lg btn-block">Login again <i class="fas fa-retweet"></i></a>
            {% else %}
                <a href="{{ path('cas_bundle_login') }}?service={{ app.request.uri }}" class="btn btn-success btn-lg btn-block">Login <i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </p>
    </div>

    {% block body %}{% endblock %}

    <hr/>

    {% if user %}
        <p>
            <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="collapse" data-target="#user" aria-expanded="false" aria-controls="user">
                <i class="fas fa-user"></i> User information
            </button>
        </p>
        <div class="collapse" id="user">
            <div class="card card-body">
                <p>{{ dump(user) }}</p>
            </div>
        </div>
    {% endif %}

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#properties" aria-expanded="false" aria-controls="properties">
            <i class="fas fa-users-cog"></i> CAS bundle properties
        </button>
    </p>
    <div class="collapse" id="properties">
        <div class="card card-body">
            <p>{{ dump(properties) }}</p>
        </div>
    </div>

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#session" aria-expanded="false" aria-controls="session">
            <i class="fas fa-bookmark"></i> Session variables
        </button>
    </p>
    <div class="collapse" id="session">
        <div class="card card-body">
            <p>{{ dump(session) }}</p>
        </div>
    </div>

    <p>
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#server" aria-expanded="false" aria-controls="server">
            <i class="fas fa-server"></i> Server variables
        </button>
    </p>
    <div class="collapse" id="server">
        <div class="card card-body">
            <p>{{ dump(server) }}</p>
        </div>
    </div>

    <p class="text-right">
        <i class="fab fa-github"></i><a href="https://github.com/drupol/cas-bundle">CAS Bundle</a> <i class="fab fa-github"></i><a href="https://github.com/drupol/cas-bundle-demo">CAS Bundle Demo</a>
    </p>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
